<div>
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" id="relatorio-tab" data-toggle="tab" href="relatorio" role="tab" aria-controls="relatorio" aria-selected="true">Relatório</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="grafico-tab" data-toggle="tab" href="grafico" role="tab" aria-controls="grafico" aria-selected="false">Gráfico</a>
    </li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane fade show active" id="relatorio" role="tabpanel">
      <div *ngFor="let item of dadosRelatorio">
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Data</th>
              <th scope="col">Gestor</th>
              <th scope="col">Colaborador</th>
              <th scope="col">Cliente</th>
              <th scope="col">Produto</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{ item.data }}</td>
              <td>{{ item.gestor }}</td>
              <td>{{ item.colaborador }}</td>
              <td>{{ item.cliente }}</td>
              <td>{{ item.produto }}</td>
            </tr>
          <tbody>
        </table>
      </div>
      
      <button (click)="exportarExcel()">Exportar para Excel</button>
    </div>
    <div class="tab-pane fade" id="grafico" role="tabpanel">
      <app-grafico></app-grafico>
    </div>
  </div>
</div>